.table {
    padding: 0 20px 20px 20px;

    .head {
        .row {
            .column {
                padding: 10px 0;
                width: 20%;
            }
        }
    }

    .body {
        .row {
            margin-bottom: 20px;
            border: 1px solid #000;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
