:host {
    display: block;
    padding: 5px 20px 20px 20px;
    font-size: 0;
    border-bottom: 1px solid #000;
}

.timer__column,
.size__column,
.ids__column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 0;
    width: 25%;
    font-size: 14px;

    &:last-child {
        padding-right: 0;
    }
}

.ids__column {
    position: relative;
    width: 50%;
}

.column__title {
    box-sizing: border-box;
    padding: 5px 0;
    text-align: center;
}

.column__control {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.column__error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    color: red;
}
