html, body {
    font: normal normal 14px/18px Arial, Tahoma, sans-serif;
}

.row {
    display: block;
    max-width: 100%;
    font-size: 0;
}

.column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}
